body {
  margin: 20px;
  background: url('https://sv1.picz.in.th/images/2021/12/10/6P0Szv.jpg')
    no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover cover;
  padding-top: 280px;
}

button {
  display: none;
  width: 30%;
  padding: 8px 0;
  margin: auto;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

p {
  border-bottom: 1px dashed #ddd;
}

#pictureUrl {
  margin: 0 auto;
  width: 50%;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-pack: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  box-pack: center;
  box-align: center;
}

#accessToken,
#utouId {
  display: block;
  overflow: auto;
}
